<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Speech Recognition</h1>
    <div id="speech-text"></div>
    <div id="emotion_text"></div>
    <script>
        const socket = io();
        socket.on('speech_text', data => {
            const div = document.getElementById('speech-text');
            div.innerHTML = `<p>${data.text}</p>`;
        });
        socket.on('speech_emotion',data=>{
            const div1=document.getElementById('emotion_text');
            div1.innerHTML=`<p>${data.result}</p>`
        })
    </script>
</body>
</html>